<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>CalmUI Premium Bootstrap Admin Dashboard Template</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../vendors/iconfonts/mdi/font/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="../../vendors/css/vendor.bundle.addons.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../css/horizontal-layout/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../images/favicon.png" />
</head>
<style>
.nav-brand brand-logo{
  align-self:center;
  width: 100%;
  margin-block-start: 30%;
}
.aqheader{
  
  font-size: 3rem;
  color:purple;
}
.brand-logo{

align-content: center;
}
</style>
<script>
    // Initialize and add the map
    function initMap() {
      // The location of Uluru
      var uluru = {lat: -25.344, lng: 131.036};
      // The map, centered at Uluru
      var map = new google.maps.Map(
          document.getElementById('map'), {zoom: 4, center: uluru});
      // The marker, positioned at Uluru
      var marker = new google.maps.Marker({position: uluru, map: map});
    }
        </script>
        <!--Load the API from the specified URL
        * The async attribute allows the browser to render the page while the API loads
        * The key parameter will contain your own API key (which is not needed for this tutorial)
        * The callback parameter executes the initMap() function
        -->
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBO2Zh7SAZe5QHLiCOpKH9mz63RVZuxDGU&callback=initMap">
        </script>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_horizontal-navbar.html -->
    <div class="horizontal-menu">
        <nav class="navbar top-navbar col-lg-12 col-12 p-0">
          <div class="container">
            <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
  
              <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
  
                <div class="col-lg-12 align-items-center">
                  <!--<a class="navbar-brand brand-logo" href="index.html"><img src="../../images/inbox-logo-retina.png"
                      alt="logo" width="200px" height="100px" /></a>
                  <a class="navbar-brand brand-logo-mini" href="index.html"><img src="../../images/logo-mini.svg" alt="logo" /></a>
                --></div>
              </div>
  
            </div>
          </div>
        </nav>
        <nav class="bottom-navbar">
          <div class="container">
            <ul class="nav page-navigation">
              <li class="nav-item">
                <a class="nav-link" href="index.html">
                  <i class="mdi mdi-view-dashboard-outline menu-icon"></i>
                  <span class="menu-title">Dashboard</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="karachi.html">
                  <i class="mdi mdi-airplay menu-icon"></i>
                  <span class="menu-title">Karachi</span>
                </a>
              </li>
              <li class="nav-item mega-menu">
                <a href="#" class="nav-link">
                  <i class="mdi mdi-google-maps menu-icon"></i>
                  <span class="menu-title">Sites</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="submenu">
                  <div class="col-group-wrapper row">
                    <div class="col-group col-md-4">
                      <div class="row">
                        <div class="col-12">
                          <p class="category-heading"></p>
                          <div class="submenu-item">
                            <div class="row">
                              <div class="col-md-6">
                                <ul>
                                  <li class="nav-item"><a class="nav-link" href="pages/ui-features/accordions.html">Accordion</a></li>
                                  <li class="nav-item"><a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
                                  <li class="nav-item"><a class="nav-link" href="pages/ui-features/badges.html">Badges</a></li>
                                  <li class="nav-item"><a class="nav-link" href="pages/ui-features/breadcrumbs.html">Breadcrumbs</a></li>
                                  <li class="nav-item"><a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdown</a></li>
                                  <li class="nav-item"><a class="nav-link" href="pages/ui-features/modals.html">Modals</a></li>
                                </ul>
                              </div>
                              <div class="col-md-6">
                                <ul>
                                  <li class="nav-item"><a class="nav-link" href="pages/ui-features/progress.html">Progress
                                      bar</a></li>
                                  <li class="nav-item"><a class="nav-link" href="pages/ui-features/pagination.html">Pagination</a></li>
                                  <li class="nav-item"><a class="nav-link" href="pages/ui-features/tabs.html">Tabs</a></li>
                                  <li class="nav-item"><a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>
                                  <li class="nav-item"><a class="nav-link" href="pages/ui-features/tooltips.html">Tooltip</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-group col-md-4">
                      <div class="row">
                        <div class="col-12">
                          <p class="category-heading">Solutions</p>
                          <div class="submenu-item">
                            <div class="row">
                              <div class="col-md-6">
                                <ul>
                                  <li class="nav-item"><a class="nav-link" href="pages/ui-features/dragula.html">Dragula</a></li>
                                  <li class="nav-item"><a class="nav-link" href="pages/ui-features/carousel.html">Carousel</a></li>
                                  <li class="nav-item"><a class="nav-link" href="pages/ui-features/clipboard.html">Clipboard</a></li>
                                  <li class="nav-item"><a class="nav-link" href="pages/ui-features/context-menu.html">Context
                                      Menu</a></li>
                                  <li class="nav-item"><a class="nav-link" href="pages/ui-features/loaders.html">Loader</a></li>
                                  <li class="nav-item"><a class="nav-link" href="pages/ui-features/slider.html">Slider</a></li>
                                </ul>
                              </div>
                              <div class="col-md-6">
                                <ul>
                                  <li class="nav-item"><a class="nav-link" href="pages/ui-features/popups.html">Popup</a></li>
                                  <li class="nav-item"><a class="nav-link" href="pages/ui-features/notifications.html">Notification</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-group col-md-4">
                      <p class="category-heading">Icons</p>
                      <ul class="submenu-item">
                        <li class="nav-item"><a class="nav-link" href="pages/icons/flag-icons.html">Flag Icons</a></li>
                        <li class="nav-item"><a class="nav-link" href="pages/icons/font-awesome.html">Font Awesome</a></li>
                        <li class="nav-item"><a class="nav-link" href="pages/icons/simple-line-icon.html">Simple Line
                            Icons</a></li>
                        <li class="nav-item"><a class="nav-link" href="pages/icons/themify.html">Themify Icons</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              
              <li class="nav-item mega-menu">
                <a href="#" class="nav-link">
                  <i class="mdi mdi-weather-windy menu-icon"></i>
                  <span class="menu-title">What Is Air Quality Index?</span>
                  <i class="menu-arrow"></i></a>
                <div class="submenu">
                  <div class="col-group-wrapper row">
                    <div class="col-group col-md-6">
                      <p class="category-heading">Charts</p>
                      <div class="submenu-item">
                        <div class="row">
                          <div class="col-md-6">
                            <ul>
                              <li class="nav-item"><a class="nav-link" href="pages/charts/chartjs.html">Chart Js</a></li>
                              <li class="nav-item"><a class="nav-link" href="pages/charts/morris.html">Morris</a></li>
                              <li class="nav-item"><a class="nav-link" href="pages/charts/flot-chart.html">Flot</a></li>
                              <li class="nav-item"><a class="nav-link" href="pages/charts/google-charts.html">Google
                                  Chart</a></li>
                            </ul>
                          </div>
                          <div class="col-md-6">
                            <ul>
                              <li class="nav-item"><a class="nav-link" href="pages/charts/sparkline.html">Sparkline</a></li>
                              <li class="nav-item"><a class="nav-link" href="pages/charts/c3.html">C3 Chart</a></li>
                              <li class="nav-item"><a class="nav-link" href="pages/charts/chartist.html">Chartist</a></li>
                              <li class="nav-item"><a class="nav-link" href="pages/charts/justGage.html">JustGage</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-group col-md-3">
                      <p class="category-heading">Table</p>
                      <ul class="submenu-item">
                        <li class="nav-item"><a class="nav-link" href="pages/tables/basic-table.html">Basic Table</a></li>
                        <li class="nav-item"><a class="nav-link" href="pages/tables/data-table.html">Data Table</a></li>
                        <li class="nav-item"><a class="nav-link" href="pages/tables/js-grid.html">Js-grid</a></li>
                        <li class="nav-item"><a class="nav-link" href="pages/tables/sortable-table.html">Sortable Table</a></li>
                      </ul>
                    </div>
                    <div class="col-group col-md-3">
                      <p class="category-heading">Maps</p>
                      <ul class="submenu-item">
                        <li class="nav-item"><a class="nav-link" href="pages/maps/mapeal.html">Mapeal</a></li>
                        <li class="nav-item"><a class="nav-link" href="pages/maps/vector-map.html">Vector Map</a></li>
                        <li class="nav-item"><a class="nav-link" href="pages/maps/google-maps.html">Google Map</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
  
             
            </ul>
          </div>
        </nav>
      </div>

      <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-md-8">
            <h1 class="aqheader">Explore The Air Quality In Your City</h1>
          </div>
         
          <div class="col-md-4">
            <li class="nav-item nav-search d-none d-lg-flex">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="search">
                    <i class="mdi mdi-magnify"></i>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="search" aria-label="search" aria-describedby="search">
              </div>
            </li>
            </div>
          </div>
      